*{ margin: 0px; padding:0px ;
border-radius: 0px; list-style-type: none;
}

nav{height: 80px; background-color: blueviolet;}

nav img{ width: 150px; position: absolute; top: 5px; float: left;}

nav ul{float: right; margin-right: 25px;}

nav ul li{display: inline-block; line-height: 80px; margin: 10px 15px;}

nav ul li a{color: white; font-size: 20px; text-decoration: none;}

label #btn,label #cancel{color: white; font-size: 30px;
    float: right; line-height: 80px; margin-right: 40px;
    display: none;
    }
    
    #checkbtn{ display: none;}
    
    
    header{width:100vm; height: 100vh;
    background-image: url("images/BGHeader.jpg");
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
    }


    .header-content{margin-bottom: 150px;
        color: white;
        text-align: center;
        }
        .header-content h2{ font-size: 4vmin;}
        
        .line{width:150px; height: 4px; background: red;
        margin: 10px auto; border-radius: 5px;
        }
        
        .header-content h1{font-size: 7vmin; margin-top: 50px; margin-bottom: 30px;}
         
        .ctn{ padding:8px 15px ; background: red; border-radius: 30px; color: white;}
        