
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.sliders{
    width: 100%;
    position: relative;
}

.sliders .slider-item{
    position: relative;
    /* display: none; */
}

.sliders .slider-item img{
    height: auto;
    width: 100%;
}

.sliders .slider-item .text{
    position: absolute;
    bottom: 40px;
    left: 0px;
    right:0px;
    text-align: center;
    background: rgb(255 255 255/50%);
    padding: 15px;
    font-size: 22px;
}

.active{
    display: block !important;
}

/*------ Arrow Slider ---------------*/

.sliders .navigation{
    display: flex;
    justify-content: center;
}

.sliders .navigation>button{
    all: unset;
    cursor: pointer;
    padding: 15px;
    background: orange;
    margin: 0px 5px;
}

/*------ Animation By Fading ----------------*/

.fade{
    animation-name: animate;
    animation-duration: 2s;
}

@keyframes animate {
    from{
        opacity: .5;
    }
    to{
        opacity: 1;
    }
    
}