*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    display: grid;
    place-content:center;
    overflow: hidden;
    scale: 1.5;

}


.gallery{
    position: relative;
    height: 250px;
    width: 600px;
   
}

.gallery img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  
}

.dots{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-block-start: 10px;
   
}

.dot{
    width: 15px;
    /* height: 15px; */
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: orange;
    border: 0px;
    cursor: pointer;
    opacity: 70%;
}

.dot:hover{
    opacity: 100%;
}