*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.column{
    width: 50%;
    flex:  0 0 auto;
    padding: 15px;

}

button{
    background-color: #ddd;
    border: 0px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}