*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0f0f0f;
}

ul{ 
    width: 100%;
    display: flex;
    border-bottom: 1px solid #ddd;
    position: relative;

}

li{
    list-style: none;
}

li a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: .8rem 1.5rem;
}

.line{
    position: absolute;
    height: 2px;
    background-color: #fff;
    bottom: -2px;
    left: 0px;
    width: 100px;
    transform-origin: left center;
    transition:transform 300ms ease-in-out;

}