*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.d-flex{
    display: flex;
    align-content: center;
    box-shadow: 0 4px 30px rgb(0 0 0/15%);
    padding:1rem .5rem;
    border-radius: 10px;
}

.d-flex .min,.d-flex .plus{
    display: block;
    cursor: pointer;
    width: 15px;
    height: 15px;
    text-align: center;
}

.d-flex input{
    border: 0px;
    width: 80px;
    border-left: 1px solid rgb(0 0 0/10%);
    border-right: 1px solid rgb(0 0 0/10%);
    text-align: center;

}

.d-flex input:focus{
    border: 0px;
    outline: 0px;
}
