* {
  margin: 0;
  padding: 0;
}
.container {
  background-color: gray;
  color: white;
  font-weight: bold;

  margin: 0px auto;
 width: 800px;

  display: grid;
  /* grid-template-columns: 200px  200px 200px 200px; */
  /* grid-template-columns:repeat(4,200px); */ /* ( Cols , Size)*/

  grid-template-columns:repeat(2,100px 200px);
   
  grid-template-columns:repeat(2,100px 200px 300px);

  grid-template-columns:repeat(2,1fr 2fr 3fr );
}

.el1 {
  background: #321325;
}

.el2 {
  background: #5f0f40;
}

.el3 {
  background: #9a031e;
}

.el4 {
  background: #cb793a;
}

.el5 {
  background: #fcdc4d;
}

.el6 {
  background: #3c3101;
}
