
.redtheme{
     
          width: 350px;
          height: 350px;
          padding: 20px;
          background-color: red;
          border:  solid 20px black;
}


.Greentheme{
     
          width: 550px;
          height: 550px;
          padding: 100px;
          background-color: green;
          border:  dotted 20px rgb(181, 5, 5);
}

.Orangetheme{
     
          width: 550px;
          height: 550px;
          padding: 100px;
          background-color: rgb(218, 116, 27);
          border:  dotted 30px rgb(0, 0, 0);
}