
.container{
    background-color: gray;
    color: white;
    font-weight: bold;
    width: 400px;
    height: 400px;
    display: grid;

    grid-template-columns:120px 120px 120px; 

    grid-template-rows: 120px 120px; 

    /*Align Content */
    justify-content: center; /* ---- Horizontal  X -----*/

    align-content: center; /* ---- Vertical  Y -----*/
   /* End Align Content */

    /*Align Items = Y  vertical  */

    align-items: center; 
    align-items: end;
    align-items: start;
    align-items: stretch; /*Defualt Value */


     /*Justify  Items = X  Horizontal  */
     justify-items: center;
     justify-items: end;
     justify-items: start;

     /* Align And Justify Item By Center */
     /* align-items: center;
     justify-items: center; */


     /* Align And Justifyy Strech */
     /* align-items: stretch;
     justify-items: stretch; */
}

.item-1{


    background-color: red;

    
}

.item-2{

       
    

     background-color: green;
}

.item-3{


    background-color: yellow;
}


.item-4{
   

    background-color: blueviolet;
}

.item-5{
   

    background-color: cadetblue;
}

.item-6{
   

    background-color: blue;
}