
.container{
    background-color: gray;
    color: white;
    font-weight: bold;
    width: 400px;
    height: 400px;
    display: grid;

    grid-template-columns:120px 120px 120px; 

    grid-template-rows: 120px 120px; 

    justify-content: center; /* ---- Horizontal  X -----*/

    align-content: center; /* ---- Vertical  Y -----*/


}

.item-1{


    background-color: red;

    
}

.item-2{

       
    

     background-color: green;
}

.item-3{


    background-color: yellow;
}


.item-4{
   

    background-color: blueviolet;
}

.item-5{
   

    background-color: cadetblue;
}

.item-6{
   

    background-color: blue;
}