body{
    margin: 0px;
    padding: 0px;
    background-color:#a6a7ff;
}

.container .section-title{
    background-color: white;
    border-radius: 5px 5px 0px 0px;
    border-bottom: solid 1px darkgray;
    margin-top: 50px;
    padding: 10px;
}


.container  .users-section{
    background-color: white;
    border-radius: 5px 5px 0px 0px;
    border: solid 1px darkgray;
  
    padding: 10px;
    height: 500px;
}

.container  .users-section .user{
    width: 50%;
    height: auto;
    float: left;
}

.container  .users-section .user .username{
    text-align: left;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container  .users-section .user .avatar{
    padding: 10px;
    box-shadow: 5px 5px 30px 2px black;
    
}

.container  .users-section .user .avatar img{
    width: 200px;
    height: 250px;
}

.hide{
    display: none;
}