
  @import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Cairo:wght@200&family=Fira+Sans:ital,wght@0,300;0,400;1,200;1,300&family=Kufam:wght@700&family=Montserrat&family=Nosifer&family=Playpen+Sans:wght@700;800&family=Rakkas&family=Reem+Kufi+Fun:wght@700&display=swap');



*{ margin: 0px; padding: 0px; box-sizing: border-box;
list-style: none; text-decoration: none;
}

body,html{ overflow-x: hidden; width: 100%; height: 100%;}
/* ========== Menu =========================*/
nav{ height: 80px; background:rgb(31, 5, 58)}

nav img{width: 150px; position: absolute; top: 5px; left: 12%;}

nav ul{ float: right; margin-right: 25px;}

nav ul li{ display: inline-block; line-height: 80px; margin: 0px 15px;}

nav ul li a{ position: relative; color: white; font-size: 18px;
text-transform: uppercase;
padding: 5px 0px;  font-family: Arial, Helvetica, sans-serif;

}

label #btn,label #cancel{color: white; font-size: 30px;
float: right; line-height: 80px; margin-right: 40px;
display: none;
}

#checkbtn{ display: none;}


header{width:100vw; height: 100vh;
background-image: url("images/BGHeader.jpg");
background-position: bottom;
background-size: cover;
display: flex;
align-items: flex-end;
justify-content: center;

}

.header-content{margin-bottom: 150px;
color: white;
text-align: center;
}
.header-content h2{ font-size: 4vmin;}

.line{width:150px; height: 4px; background: red;
margin: 10px auto; border-radius: 5px;
}

.header-content h1{font-size: 7vmin; margin-top: 50px; margin-bottom: 30px;}
 
.ctn{ padding:8px 15px ; background: red; border-radius: 30px; color: white;}

/* .menu-btn{ position: absolute; top: 30px; right: 30px;
width:40px ; cursor: pointer; display: block;
} */

/* ====================== Section ===============================*/
section{width: 80%; margin: 80px auto}

.title{text-align: center; font-size: 4vmin; color: rgb(107, 11, 110);}

.row{display: flex; align-items: center;
width: 100%; justify-content: space-between;/* background: cyan;*/
}

.row .col img{width: 80%;}

.row .col {display: flex; flex-direction: column; align-items: center; }

.events .row{ margin-top: 50px;}

h4{ font-size: 3vmin; color: blueviolet; margin: 20px auto;}

p{color: #34495e; padding: 0px 40px;}

.events .ctn{ margin-top: 30px;}
/* ================================================*/
/* ============ Section Explore ==============*/
.explore{width: 100%; height: 100vh; background-image: url("images/cat3.jpg"); background-position: center;
background-size: cover; background-repeat: no-repeat;
display: flex;
align-items: center;

}

.explore-content{ width: 60%; padding: 30px; color: whitesmoke;
display: flex; align-items: center;flex-direction: column;
}

.explore-content h1{font-size: 7vmin; margin: 50px;}

.explore-content .line{ margin-top: -50px;}

.explore-content p{color: rgb(221, 221, 221);}

.explore-content .ctn{ margin-top: 40px;}

/*================= Section Tours ==============*/
.content-col{width: 40%;}

.image-col{width: 60%;}

.tours .row .col{ width: 50%;}
.tours .image-gallery{ display: flex; flex-wrap: wrap;
width: 100%; align-items: center;
}

.image-gallery img{ max-width: 200px; margin: 10px;}

.content-col h1{font-size: 7vmin; color: #34495e;}

.content-col .line{margin-left: -1px;}

.content-col p{padding: 0px; margin: 30px auto;}

.content-col .ctn{margin-left: -100px ;}

/*================= Section Footer ==============*/
.footer{ width: 100%; min-height: 200px; padding: 20px 80px; margin: 0px; 
background: #484872; text-align: center;
}

.footer p{ color: whitesmoke; margin: 20px auto;}


/*--- Animation ----*/
img{transition: transform .3s ease;}

img:hover{transform:scale(1.1)}

.ctn:hover{ background: whitesmoke; color: purple;
  box-shadow: 2px 2px 5px #00000056;
  ;}
/* ======================-- Mobile Device===============-*/

/* @media(max-width:1118px){
nav img{ left: 8%;}

}
@media(max-width:944px)
{
    nav img{ left: 6%;top: 0px; width: 130px;}
     
    nav ul li a{ font-size: 17px;}
} */

@media(max-width:860px)
{
    label #btn{ display: block;}

    ul{ position: fixed; width: 100vw; height: 100vh;
     background: #34495e;
     top: 80px;
     left: -100%;
     text-align: center;
     transition: all .5s;
    }

    nav ul li { display: block; margin: 50px 0px;
    line-height: 30px;
    }
   nav ul li a{ font-size: 20px;}
     
   #checkbtn:checked ~ ul{
    left: 0px;
   }

   #checkbtn:checked ~ label #btn{
    display: none;
   }

   #checkbtn:checked ~ label #cancel{
    display: block;
   }

   /*----------- Website Responsive -----------*/
   .row{ flex-direction: column;}

   .row .col{ margin: 20px auto;}

   .col img{max-width: 90%;}

.explore-content{width: 100%;}

.tours .col{ width: 100%;}

.image-gallery { justify-content: center; align-items: center;}

.image-gallery img{ width: 90%}

.footer{ padding: 10px;}

/*--- Animation ----*/
img{transition: transform .3s ease;}

img:hover{transform:scale(1.1)}


}
/* 
@media only screen and(max-width:1000px)
{

.nav-links .menu-btn{ display: block;}

.navbar .nav-links .menu-btn{ background-color:green; width: 300px;
 height: 400px; display: block;

}
.navbar{padding: 0px;}

.logo{ position: absolute; top: 30px; left: 30px;}

.nav-links{flex-direction: column; width: 100%; height: 100vh;
justify-content: center;
background:rgb(61, 22, 72);
margin-top: -900px;
transition: all 0.5s ease;
}

.mobile-menu{ margin-top: 0px; border-top-right-radius: 30%;}
.nav-links li{ margin: 30px auto;} 


} */