*{
    margin: 0px;
    padding: 0px;
}
body{
    overflow-y: hidden;
}

.content{
    padding: 5rem;
   height: 100vh;
   display: flex;
   align-items: center;
}
.content > div{
    width: 100%;
}

.content h1{
    font-size: 47px;
    font-weight: bold;
}

.content p{
    font-size: 15px;
    font-weight: .4;
    color: #444;
  

}

a{
    color: black;
    opacity: 1;
    display: inline;
}

.logo{
    margin-bottom: 2.5em;
}

form{
    margin-top: 2.5em;
}

.form-control{
    border: 0px;
    border-bottom: 2px solid rgb(127 127 127/30% );
    border-radius: 0px;
    padding-left: 0px;
}

.form-control:focus{
    box-shadow: none;
    border-color: black;
}

input[type="submit"]{
    padding: 15px 0px;
    width: 90% !important;
}

.submit{
    margin-top: 4em;
    margin-bottom: 2em;
   
}


.carousel-item .caption{
    position: absolute;
    bottom: 70px;
    left: 0px;
    right: 0px;
    text-align: center;
    color: white;
    font-size: 23px;
    z-index: 9;

}

.carousel::before{
    content: '';
    position: absolute;
    min-height: 170px;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(transparent,#000);
    z-index: 1;
}

.carousel-item  img{
    height: 100vh;
    object-fit: cover;
}

.carousel-item h5{
    color: white;
}

.carousel-item p{
    color: white;
}

/* -------- Login Form --------*/
#logIn{
    /* display: none; */
    transform: translateX(-100%);
    opacity: 0;
    transition: 500ms;
}

#logIn.active{
    opacity: 1;
    transform: unset;
}

#signIn{
    transform: translateX(0);
    opacity: 1;
    transition: 500ms;
}

#signIn.unActive{

    transform: translateX(100%);
    opacity: 0;
    transition: 500ms;
}
/* .hide{
    display: none;
}

.show{display: block !important;} */

.forms{
    position: relative;
    min-height: 450px;

}

.forms form{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;

}

/*---------- Toggle password -----------------*/

#togglePass{
    position: absolute;
    right: 7px;
    bottom: 150px;
    border: 0px;
    background: transparent;
    color: #ff734d;
}

/*------ Media Query -------------*/

@media (max-width:768px) {
    .content{
        padding: 3rem;
    }
    
}